# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.log

# Environments
.env
.venv
venv/
ENV/

# Project Specific (PixVault)
uploads/
backups/
instance/
*.db

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db